<?xml version="1.0"?>
<config>
	<modules>
		<MMind_Shippingplus>
			<version>1.0.0</version>
		</MMind_Shippingplus>
	</modules>
	<global>
		<helpers>
			<mmshippingplus>
				<class>MMind_Shippingplus_Helper</class>
			</mmshippingplus>
		</helpers>
		<models>
			<mmshippingplus>
				<class>MMind_Shippingplus_Model</class>
				<resourceModel>mmshippingplus_resource</resourceModel>
			</mmshippingplus>
			<mmshippingplus_resource>
				<class>MMind_Shippingplus_Model_Resource</class>
				<entities>
					<shippingplus>
						<table>mmind_shippingplus</table>
					</shippingplus>
				</entities>
			</mmshippingplus_resource>
		</models>
		<resources>
			<mmshippingplus_setup>
				<setup>
					<module>MMind_Shippingplus</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</mmshippingplus_setup>
			<mmshippingplus_write>
				<connection>
					<use>core_write</use>
				</connection>
			</mmshippingplus_write>
			<mmshippingplus_read>
				<connection>
					<use>core_read</use>
				</connection>
			</mmshippingplus_read>
		</resources>
	</global>
	<frontend>
		<translate>
			<modules>
				<MMind_Shippingplus>
					<files>
						<default>MMind_Shippingplus.csv</default>
					</files>
				</MMind_Shippingplus>
			</modules>
		</translate>
	</frontend>
	<adminhtml>
		<translate>
			<modules>
				<MMind_Shippingplus>
					<files>
						<default>MMind_Shippingplus.csv</default>
					</files>
				</MMind_Shippingplus>
			</modules>
		</translate>
	</adminhtml>
	<default>
		<carriers>
			<mmshippingplus>
				<model>mmshippingplus/carrier_shippingplus</model>
				<active>0</active>
				<title>Express Courier</title>
				<method_name>Standard</method_name>
				<active_ship_kg>0</active_ship_kg>
				<active_ship_price>0</active_ship_price>
			</mmshippingplus>
		</carriers>
	</default>
</config>