<?xml version="1.0"?>
<config>
	<modules>
		<MMind_Shippingplus>
			<version>1.0.0</version>
		</MMind_Shippingplus>
	</modules>
	<global>
		<helpers>
			<mmind_shippingplus>
				<class>MMind_Shippingplus_Helper</class>
			</mmind_shippingplus>
		</helpers>
		<models>
			<mmind_shippingplus>
				<class>MMind_Shippingplus_Model</class>
				<resourceModel>mmind_shippingplus_mysql4</resourceModel>
			</mmind_shippingplus>
			<mmind_shippingplus_mysql4>
				<class>MMind_Shippingplus_Model_Mysql4</class>
				<entities>
					<shippingplus>
						<table>mmind_shippingplus</table>
					</shippingplus>
				</entities>
			</mmind_shippingplus_mysql4>
		</models>
		<resources>
			<mmind_shippingplus_setup>
				<setup>
					<module>MMind_Shippingplus</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</mmind_shippingplus_setup>
			<mmind_shippingplus_write>
				<connection>
					<use>core_write</use>
				</connection>
			</mmind_shippingplus_write>
			<mmind_shippingplus_read>
				<connection>
					<use>core_read</use>
				</connection>
			</mmind_shippingplus_read>
		</resources>
	</global>
	<frontend>
		<translate>
			<modules>
				<MMind_Shippingplus>
					<files>
						<default>MMind_Shippingplus.csv</default>
					</files>
				</MMind_Shippingplus>
			</modules>
		</translate>
	</frontend>
	<adminhtml>
		<translate>
			<modules>
				<MMind_Shippingplus>
					<files>
						<default>MMind_Shippingplus.csv</default>
					</files>
				</MMind_Shippingplus>
			</modules>
		</translate>
	</adminhtml>
	<default>
		<carriers>
			<mmind_shippingplus>
				<model>mmind_shippingplus/carrier_shippingplus</model>
				<active>0</active>
				<title>Express Courier</title>
				<method_name>Standard</method_name>
				<active_ship_kg>0</active_ship_kg>
				<active_ship_price>0</active_ship_price>
			</mmind_shippingplus>
		</carriers>
	</default>
</config>