<config>
	<sections>
		<carriers>
			<groups>
				<mmind_shippingplus translate="label" module="shipping">
					<label>MageMind Shipping Plus</label>
					<frontend_type>text</frontend_type>
					<sort_order>1</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<active translate="label">
							<label>Active</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</active>
						<title translate="label">
							<label>Title</label>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</title>
						<method_name translate="label">
							<label>Method Name</label>
							<frontend_type>text</frontend_type>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</method_name>
						<condition_name>
							<label>Condition</label>
							<frontend_type>select</frontend_type>
							<source_model>mmind_shippingplus/config_source_tablerate</source_model>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</condition_name>
                        <charge_type>
                            <label>Charge Type</label>
                            <frontend_type>select</frontend_type>
                            <source_model>mmind_shippingplus/config_source_charge</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </charge_type>
						<active_ship_kg translate="label">
							<label>Enable Shipping Weight Range</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<comment>You can enable only Weight Range or Price Range at the same time</comment>
							<sort_order>6</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</active_ship_kg>
						<ship_from_kg translate="label">
							<label>Weight From</label>
							<frontend_type>text</frontend_type>
							<sort_order>7</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</ship_from_kg>
						<ship_to_kg translate="label">
							<label>Weight To</label>
							<frontend_type>text</frontend_type>
							<sort_order>8</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</ship_to_kg>
						<ship_kg_price translate="label">
							<label>Shipping Price with Weight Range</label>
							<frontend_type>text</frontend_type>
							<sort_order>9</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</ship_kg_price>
						<ship_kg_country translate="label">
							<label>Shipping Weight Range Country Enabled</label>
							<frontend_type>multiselect</frontend_type>
							<sort_order>10</sort_order>
							<source_model>adminhtml/system_config_source_country</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<can_be_empty>1</can_be_empty>
						</ship_kg_country>
						<active_ship_price translate="label">
							<label>Enable Shipping Price Range</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<comment>You can enable only Weight Range or Price Range at the same time</comment>
							<sort_order>11</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</active_ship_price>
                        <ship_price_rangeprice>
                            <label>Shipping Price Range Base</label>
                            <frontend_type>select</frontend_type>
                            <source_model>mmind_shippingplus/config_source_rangeprice</source_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </ship_price_rangeprice>
                        <ship_from_price translate="label">
                            <label>Price From</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </ship_from_price>
                        <ship_to_price translate="label">
                            <label>Price To</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </ship_to_price>
                        <ship_price_price translate="label">
                            <label>Shipping Cost with Price Range</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </ship_price_price>
                        <ship_price_country translate="label">
                            <label>Shipping Price Range Country Enabled</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>15</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </ship_price_country>
                        <import_tablerate translate="label">
                            <label>Import CSV File Tablerate</label>
                            <frontend_type>import</frontend_type>
                            <backend_model>mmind_shippingplus/config_shippingplus</backend_model>
                            <sort_order>16</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </import_tablerate>
                        <active_shipping_zeroprice translate="label">
                            <label>View Method with zero price</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment>Show shipping method with price zero. Use if you have free shipping over a specific quote</comment>
                            <sort_order>17</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active_shipping_zeroprice>
						<sort_order translate="label">
							<label>Sort Order</label>
							<frontend_type>text</frontend_type>
							<sort_order>100</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</sort_order>
					</fields>
				</mmind_shippingplus>
			</groups>
		</carriers>
	</sections>
</config>